# Database Configuration
DATABASE_URL="mysql://sallah:@Ethiopia909@localhost:3306/addis_db"
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=sallah
DB_PASSWORD=@Ethiopia909
DB_NAME=addis_db

# Application Configuration
PORT=3000
NODE_ENV=development